
 <footer class="site-footer mt-4 ">
 
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; BlogSum
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
        </ul>
      </div>
    </div>
  </div>
</footer> 



