<% layout('layout/main') -%>
<% block('title', 'About') -%>


<div class="container">
  <h1 class="blog-heading top-m">About</h1>

  <p class="w-75 mx-auto text-center">Nitin Bhimrajka</p>
  <p class="w-75 mx-auto text-center">Information Technology</p>
  <p class="w-75 mx-auto text-center">12020002004008</p>
  <p class="w-75 mx-auto text-center">Roll No - 07</p>
  <p class="w-75 mx-auto text-center">3rd Year</p>
  <p class="w-75 mx-auto text-center">Section: A</p>

</div>
