<% layout('layout/main') -%>



<div class="container top-m">
  <h1 class="font-weight-bold"><%=title%></h1>
  <p><%=content%></p>

 
<!-- 
  <form action="/delete/:id" method="post">
    <button type="submit" class="btn btn-primary">Delete</button>
  </form> -->






</div>


